{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <br>
    <h1>Home Page</h1>
    <br>
    <div>
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome</h1>
                <p>This is simple blog</p>
                <p>This was built using Python and Rest Framework Flask</p>
                <p>
                    <a class="btn btn-primary" href="/posts" role="button">View posts &raquo;</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}