{% extends 'base.html' %}

{% block head %}
    <title>Posts</title>
{% endblock %}

{% block body %}
    <h1>All Posts</h1>
    <hr>
    <h2>Create New Blog Post:</h2>
    <form action="/posts" method="POST">
        <div class="form-group mt-4">
            <label for="title">Title:</label>
            <input class="form-control" type="text" name="title" id="title">
        </div>
        <div class="form-group mt-4">
            <label for="author">Author:</label>
            <input class="form-control" type="text" name="author" id="author">
        </div>
        <div class="form-group mt-4">
            <label for="content">Post:</label>
            <input class="form-control" type="text" name="content" id="content">
        </div>
        <div class="form-group mt-4">
            <input class="btn btn-primary" type="submit" value="Post">
        </div>
    </form>
    <hr>
    {% for post in posts %}
        <h2 class="mt-4">{{post.title}}</h2>
        {% if post.author %}
            <small>By: {{post.author}} on {{post.date_posted}}</small>
        {% else %}
            <small>By: Unknown on {{post.date_posted}}</small>
        {% endif %}
        <p>{{post.content}}</p>
        <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
        <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
    {% endfor %}
{% endblock %}